@charset "UTF-8";

.coralWhite {
	background-color:coral;
	color:#FFF;
}

.coralText{
	color:coral;
}

#title{
	height: 100px;
}

#navMenu {
	height: 75px;
}

#navMenu a, a:hover {
	color:#FFF;
}

.pageForSell{
	gap:12px 12px;	
}

.articleForSell{
	border:solid coral;
	border-width:thin;
	width: 222px;
	height:	222px;
}

.articleForSell:hover{
	background-color: #FCE2D3;
}

.nullImg{
	width: 212px;
	height: 120px;
}
